.users{
    height: 500px;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-inline: 50px;
    overflow-y: scroll;
    width: 95%;
    margin-top: 30px;
}

.user{
    width: 100%;
    background-color: #FFECEC;
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 10px;
    padding-block: 10px;
    transition: all 1s;
}

.user:hover .photoDiv{
    display: block;
    transition: all 1s;
}




/* ---------- Side scroll of page ------------- */

.rightBar .users::-webkit-scrollbar {
    width: 2px;
}

.rightBar .users::-webkit-scrollbar-thumb {
    background-color: #fcfcfc;
    border-radius: 15px;
}
.rightBar .users::-webkit-scrollbar-track {
    background-color: #ffffff;
}
.user .userName{
    display: flex;
    align-items: center;
}
.userName .avatar img{
    height: 50px;
    border-radius: 50%;
}
.userName .name{
    width: max-content;
    margin-left: 20px;
}



/* ---------- User div ------------- */

.divPhotoUsers{
    height: 120px;
    width: 100%;
    overflow: hidden;
}

.divPhotoUsers img{
    opacity: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.photoDiv{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    overflow: hidden;
    width: 300px;
    background-color: #C4C4C4;
    padding: 50px;
    border-radius: 20px;
    padding-top: 25px;
    box-shadow: 0px 0px 50px #00000056;
}

.photoDiv .name{
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}
.photoDiv .name h5{
    margin-left: 10px;
}

.photoDiv .avatar img{
    height: 20px;
    border-radius: 50%;
}