.users{
    height: 500px;
    padding-top: 85px;
    padding-bottom: 20px;
    padding-inline: 50px;
    overflow-y: scroll;
}
.user{
    width: 100%;
    background-color: #FFECEC;
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 20px;
    padding-block: 10px;
    transition: all 1s;
}

.user:hover .photoDiv{
    display: block;
    transition: all 1s;
}

.rightBar .users::-webkit-scrollbar {
    /* height: 1px; */
    width: 3px;
}

.rightBar .users::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 15px;
}

.rightBar .users::-webkit-scrollbar-track {
    background-color: #000000;
}

.user .userName{
    display: flex;
    align-items: center;
}

.userName .avatar img{
    height: 50px;
    border-radius: 50%;
}

.userName .name{
    width: max-content;
    margin-left: 20px;

}




.divPhotoUsers{
    height: 120px;
    width: 100%;
    overflow: hidden;
}

.divPhotoUsers img{
    opacity: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.photoDiv{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    overflow: hidden;
    width: 300px;
    background-color: #C4C4C4;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px #00000056;
}