.contLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* ---------- Central Div ------------- */

.contLogin form {
  z-index: 10;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contLogin h1 {
  margin-bottom: 50px;
  font-size: 50px;
  color: rgb(101, 101, 101);
}

.contLogin .link {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.contLogin .buttonEnter {
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
  width: 260px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(61, 61, 61);
  color: white;
}
.contLogin .buttonEnter:hover {
  background-color: rgb(199, 199, 199);
}

form .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(221, 223, 225);
    padding: 50px;
    border-radius: 25px;
}










.contLogin .wallpaper {
  position: absolute;
  width: 100%;
  height: 100vh;
  justify-content: end;
  display: flex;
}

.wallpaper .svg{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
