.HomePage{
    height: 100vh;
    width: 100%;
}



/* Header da Página */

.HomePage header{
    padding-left: 25px;
    width: 100%;
    height: 70px;
    align-items: center;
    display: flex;
    z-index: 10;
}
.menu h1{
    font-size: 50px;
    transition: all .2s;
}
.menu {
    position: fixed;
    justify-content: space-between;
    display: flex;
    transition: all .2s;
    align-items: center;
    opacity: 100%;
}
.menuActive {
    padding-inline: 25px;
    transition: all .2s ease-out;
    width: 100vw;
    height: 50px;
    position: fixed;
    z-index: 10;
    align-items: center;
    display: flex;
    background-image: linear-gradient(40deg, rgb(255, 255, 255), rgb(255, 255, 255));
    opacity: 100%;
    justify-content: space-between;
    font-size: 10px;
}
.menuActive h1{
    transition: all .2s;
    font-size: 35px;
    color: rgb(101, 101, 101);
}



/* ---------- Conteúdo da página ------------- */

.HomePage .content{
    padding-bottom: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 55% 1px 30%;
}



/* Texto lateral "Postagens" */

.content .decoration{
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}
.decoration p{
    font-size: 180px;
    writing-mode: vertical-rl;
    opacity: 30%;
}



/* Postagens */

.content .posts{
    height: 100%;
 
}
.content .partition{
    margin-top: 60px;
    height: 500px;
}



/* Barra Lateral */

.content .rightBar{
    height: 100%;

}

.HomePage .adverts{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

.adverts .divAdverts{
    display: flex;
    overflow: hidden;
    border-radius: 30px;
}